@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --yellow-text: #FFEB3B;
    --white-text: #FAF9F6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* Flex containers */
body,
#nav,
#nav-list,
#home-page {
    display: flex;
}
/* -------------- */

body {
    min-height: 100vh;
    flex-direction: column;

    background: url('./assets/restaurant-background.webp');
    background-size: cover;
    background-position: center;
    
    backdrop-filter: blur(2px);
    
    color: var(--yellow-text);
    font-family: "Playfair Display", serif;
}

/* Nav styling */
#nav {
    height: 18vh;
    justify-content: space-between;
    padding: 1rem;
}

#nav-list {
    list-style-type: none;
    gap: 1rem;
}

#nav-list .nav-btn {
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;

    border: 2px solid var(--white-text);
    border-radius: 8px;
    background: rgba(94, 94, 94, 0.3);

    font-size: 1.2rem;

    color: var(--yellow-text);
    cursor: pointer;
}

/* Home page styling */

#home-page {
    width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding-block: 1.6rem;

    border: 4px solid rgba(11, 25, 44, 0.1);
    border-radius: 12px;

    background: rgba(11, 25, 44, 0.8);
}

#home-headers {
    width: 50%;
    text-align: center;
}

#home-headers .head-slogan {
    color: var(--white-text);
}

#home-headers h2.head-slogan {
    font-style: italic;
}

#home-headers > * {
    margin-block: 1rem;
}

#home-btns button{
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;

    border: 2px solid var(--yellow-text);
    background: rgba(94, 94, 94, 0.3);

    font-size: 1.2rem;

    color: var(--white-text);
    cursor: pointer;
}

/* Menu page styling */

#menu-page {
    margin: 0 auto;
    width: 80%;
    background: rgba(11, 25, 44, 0.8);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.menu-item {
    margin: 1rem;
    text-align: center;
}

.card-img img {
    border-radius: 12px;
    opacity: 92%;
    margin-block-end: 0.5rem;
}

.card p {
    margin: 1rem;

    color: var(--white-text);
    font-family: "Lora", serif;
    font-style: italic;
}

.card span {
    font-size: 1.2rem;
}

/* Contact page styling */

#contact-page {
    margin-inline: 4rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 88px);
    gap: 8px;
}

#contact-page > div,
#contact-page > form {
    background: rgba(11, 25, 44, 0.8); 
}
    
.contact-details {
    grid-column: span 12 / span 12;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.address-details,
.phone-details {
    color: var(--white-text);
}
/* Contact form styling */
.contact-form {
    grid-column: span 7 / span 7;
    grid-row: span 5 / span 5;
    grid-row-start: 2;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-form > h2 {
    margin-block-start: 1rem;
}

.contact-form .form-field {
    margin-block: 0.8rem;

    display: flex;
    flex-direction: column;
}

.form-field label {
    color: var(--white-text);
    margin-block-end: 0.2rem;
}
.form-field input,
.form-field textarea {
    height: 34px;
    min-width: 400px;

    padding-inline-start: 0.5rem;

    background: #FAF9F6;

    border: none;
    border-radius: 8px;
}

.form-field textarea {
    height: 120px;
    padding: 0.5rem;
    resize: none;
}

.contact-form .form-btn {
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;

    border: 2px solid var(--white-text);
    background: rgba(94, 94, 94, 0.3);

    font-size: 1.2rem;

    color: var(--yellow-text);
    cursor: pointer;
}

/* ------------------- */
.contact-map {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    grid-column-start: 8;
    grid-row-start: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-map img {
    height: 96%;
    width: 96%;

    border-radius: 8px;
    
    object-fit: cover;
}