* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Flex containers */
body,
#nav,
#nav-list,
#home-page {
    display: flex;
}
/* -------------- */

body {
    min-height: 100vh;
    flex-direction: column;

    background: url('./assets/restaurant-background.webp');
    background-size: cover;   /* Optional: to cover the whole screen */
    background-position: center;  /* Optional: centers the image */
}

/* Nav styling */
#nav {
    justify-content: space-between;
    padding: 1rem;
}

#nav-list {
    list-style-type: none;
    gap: 1rem;
}

#nav-list .nav-btn {
    padding: 0.5rem;
}

/* Home page styling */

#home-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

#home-headers {
    width: 50%;
    text-align: center;
}

#home-headers>* {
    margin-block: 1rem;
}